---
import "@styles/utils.css";

import Layout from "@layouts/Layout.astro";
import SpacingSimulator from "@components/SpacingSimulator";
---

<Layout title="CSS Note Spacing" description="Simulate note spacing with CSS">
  <main>
    <h1>CSS Note Spacing</h1>
    <SpacingSimulator client:load />
  </main>
</Layout>
